@tailwind base;
@tailwind components;
@tailwind utilities;

.instruction {
	top: 6.5rem;
	right: 4.5rem;
}

.customScroll::-webkit-scrollbar {
	width: 15px;
}
.customScroll::-webkit-scrollbar-button {
	display: none;
}
.customScroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
.customScroll::-webkit-scrollbar-thumb {
	color: #4ab5de;
	background: #4ab5de;
	border-radius: 10px;
	opacity: 1;
}

.deleteIcon {
	filter: invert(22%) sepia(86%) saturate(7247%) hue-rotate(357deg) brightness(101%) contrast(116%);
}
